doctype html
html(lang="en")
    head
        include ../includes/script.jade
        script(type='text/javascript').
            KISSY.use("io,node,json,vs-data-select,vs-window,vs-grid-table",
                function(S, Io, Node, Json, VsDataSelect, VsWindow, VsGridTable){

                var table = new VsGridTable('#rst', {});

                var getData = function(){
                    var data = {};
                    data.winningNumber = Node.one("#winningNumber").val();
                    data.prizePool = parseInt(Node.one("#prizePool").val());
                    return data;
                };

                var getCond = function()
                {
                    var termId = Node.one("#termId").val();
                    return {id:termId};
                };

                var checkParam = function(data){
                    return true;
                };

                var getLvs = function()
                {
                    var lvs = [];
                    var lvCount = parseInt(Node.one("#lvCount").val());
                    for(var i = 1; i < lvCount + 1; i++)
                    {
                        var obj = {};
                        obj.code = 'LV' + i;
                        obj.bonus = parseInt(Node.one("#LV" + i + "_bonus").val())*100;
                        obj.name = Node.one("#LV" + i + "_name").val();
                        var countStr = Node.one("#LV" + i + "_count").val();
                        if(countStr == null || countStr.length == 0)
                        {
                            obj.gCount = 0;
                        }
                        else
                        {
                            obj.gCount = parseInt(countStr);
                        }
                        obj.gLevel = i;
                        obj.id = i + '';
                        lvs[lvs.length] = obj;
                    }
                    return lvs;
                }

                Node.one("#success").on("click", function(){
                    var data = getData();
                    var lvsStr = Json.stringify({grades:getLvs()});
                    data.prizeDesc = lvsStr;

                    var bodyNode = {cond:getCond(), data:{$set:data}};
                    CurSite.sendDigest(Io, Json, "AD07", null, bodyNode, function(err, backBodyNode){
                        if(backBodyNode.repCode == '0000')
                        {
                            var id = Node.one("#termId").val();
                            var url = "term_drawConfirm.html?id=" + id;
                            CurSite.redirectTo(null, url);
                        }
                        else
                        {
                            alert(backBodyNode.description);
                        }
                    });
                });


            });
    body
        input(id="termId", type="hidden", value=term.id)
        input(id="lvCount", type="hidden", value=rst.length)
        #tWin.container
        .bodyAdminDiv
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;") 游戏*:
                .vs_grid_plain(style="width:120px;margin-left:8px;")=term.gameCode
                .vs_grid_plain(style="width:100px;text-align:right;") 期次*:
                .vs_grid_plain(style="width:120px;margin-left:8px;")=term.code
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;margin-top:4px") 奖池:
                .vs_grid_plain(style="width:120px;margin-left:8px;")
                    input(id="prizePool", type="text" value=term.prizePool, style="width:80px;")
                .vs_grid_plain(style="width:100px;text-align:right;margin-top:4px") 开奖号码:
                .vs_grid_plain(style="margin-left:8px;")
                    input(id="winningNumber", type="text" value=term.winningNumber, style="width:160px;")
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;") 奖级明细:
                .vs_grid_plain(style="margin-left:8px;")
                    #rst.container
                        table
                            thead
                                tr
                                    td(w="66") 名称
                                    td(w="86") 奖金(元)
                                    td(w="76") 注数
                            tbody
                                - each val in rst
                                    tr
                                        td=val.name
                                            input(id=val.code + '_name', type="hidden", value=val.name)
                                        td
                                            input(id=val.code + '_bonus', type="text" value=val.bonus/100, style="width:80px;")
                                        td
                                            input(id=val.code + '_count', type="text" value=val.gCount, style="width:70px;")
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;") &nbsp;
                .vs_grid_plain(style="margin-left:8px;")
                    input(type="button", value="下一步", id="success")