doctype html
html(lang="en")
    head
        include ../includes/script.jade
        script(type='text/javascript').
            KISSY.use("io,node,json,vs-grid-table,vs-pagebar,vs-round-input,vs-window",
                function(S, Io, Node, Json, VsGridTable, VsPagebar, VsRoundInput, VsWindow){
                var count = parseInt(Node.one('#count').val());
                var skip = parseInt(Node.one('#skip').val());
                var limit = parseInt(Node.one('#limit').val());
                var cur = parseInt(skip/limit) + 1;
                var table = new VsGridTable('#terms', {});
                var pageBar = new VsPagebar('#bar', {count:count, limit:limit, cur:cur, toPage:function(index){
                    toPage(index);
                }});

                var getCondition = function()
                {
                    var cond = {};
                    var gameCode = Node.one('#gameCode').val();
                    if(gameCode)
                    {
                        cond.gameCode = gameCode;
                    }
                    var status = parseInt(Node.one("#status").val());
                    if(status > 0)
                    {
                        cond.status = status;
                    }
                    return cond;
                };

                var getSort = function()
                {
                    var sort = {gameCode:1, code:-1};
                    return sort;
                }

                var toPage = function(index){
                    console.log(index);
                    var limit = parseInt(Node.one('#limit').val());
                    var skip = (index - 1)*limit;
                    var cond = encodeURIComponent(Json.stringify(getCondition()));
                    var sort = encodeURIComponent(Json.stringify(getSort()));
                    CurSite.redirectTo(null, "term_list.html?" + 'skip=' + skip + "&limit=" + limit + "&cond=" + cond + '&sort=' + sort);
                };

                //绑定事件
                Node.all("input.detail").each(function(item){
                    item.on("click", function(){
                        var tId = Node.one(this).attr("tId");
                        var url = "term_detail.html?id=" + tId;
                        var win = new VsWindow("#tWin", {title:"期次详情", width:500, height:400, url:url, controlBt:[
                            {name:'关闭', cb:null}
                        ]});
                    });
                });

                Node.one("#search").on("click", function(){
                    toPage(cur);
                });

                Node.one("#add").on("click", function(){
                    var url = "term_add.html?time=" + new Date().getTime();
                    CurSite.redirectTo(null, url);
                });

                //开奖
                Node.all("input.draw").each(function(item){
                    item.on("click", function(){
                        var tId = Node.one(this).attr("tId");
                        var url = "term_draw.html?id=" + tId;
                        var win = new VsWindow("#tWin", {title:"期次开奖", width:600, height:500, url:url, controlBt:[
                            {name:'关闭', cb:null}
                        ]});
                    });
                });

                //审核通过
                Node.all("input.check").each(function(item){
                    item.on("click", function(){
                        var tId = Node.one(this).attr("tId");
                        var cond = {id:tId};
                        var data = {status:1602};
                        var bodyNode = {cond:cond, data:{$set:data}};
                        CurSite.sendDigest(Io, Json, "AD07", null, bodyNode, function(err, backBodyNode){
                            alert(backBodyNode.description);
                        });
                    });
                });

            });
    body
        .bodyAdminDiv
            input(type='hidden', id="count", value=count)
            input(type='hidden', id="skip", value=skip)
            input(type='hidden', id="limit", value=limit)
            #tWin.container
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="padding-top:6px;margin-left:12px;") 游戏:
                .vs_grid_plain(style="padding-top:4px;")
                    select(id="gameCode")
                        option(value="") 所有
                        - each val in games
                            if(val.id == cond.gameCode)
                                option(value=val.id, selected="true")=val.name
                            else
                                option(value=val.id)=val.name
                .vs_grid_plain(style="padding-top:6px;margin-left:12px;") 状态:
                .vs_grid_plain(style="padding-top:4px;")
                    select(id="status")
                        option(value="-1") 所有
                        - each val in termStatus
                            if(val.id == cond.status)
                                option(value=val.id, selected="true")=val.des
                            else
                                option(value=val.id)=val.des
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:423px;")
                    input(type="button", id="search", value="查询")
                    input(type="button", id="add", value="新增")
            .clearfix(style="margin-top:8px")
                #terms.container
                    table
                        thead
                            tr
                                td(w="100") 游戏
                                td(w="76") 期次
                                td(w="76") 下一期
                                td(w="100") 状态
                                td(w="200") 开售时间
                                td(w="200") 停售时间
                                td(w="200") 对阵
                                td(w="134") 操作
                        tbody
                            - each val in rst
                                tr
                                    td=val.game.name
                                    td=val.code
                                    td=val.nextCode
                                    td=val.status.des
                                    td=val.openTime
                                    td=val.endTime
                                    td=val.detailInfo
                                    td
                                        input(type="button", value="详情", class="detail", tId=val.id)
                                        if val.status.id == termStatusObj.WAITING_DRAW_NUMBER
                                            input(type="button", value="开奖", class="draw", tId=val.id)
                                        if val.status.id == termStatusObj.CALCULATE
                                            input(type="button", value="审核通过", class="check", tId=val.id)
            .clearfix(style="margin-top:8px")
                #bar.vs_grid_plain(style="width:600px;")
