doctype html
html(lang="en")
    head
        include ../includes/script.jade
        script(type='text/javascript').
            KISSY.use("io,node,json,vs-grid-table,vs-pagebar,vs-round-input,vs-window",
                function(S, Io, Node, Json, VsGridTable, VsPagebar, VsRoundInput, VsWindow){
                var count = parseInt(Node.one('#count').val());
                var skip = parseInt(Node.one('#skip').val());
                var limit = parseInt(Node.one('#limit').val());
                var channelCodeInput = new VsRoundInput("#channelCode", {});
                var orderIdInput = new VsRoundInput("#orderId", {});
                var cur = parseInt(skip/limit) + 1;
                var table = new VsGridTable('#tickets', {});
                var pageBar = new VsPagebar('#bar', {count:count, limit:limit, cur:cur, toPage:function(index){
                    toPage(index);
                }});

                var getCondition = function()
                {
                    var cond = {};
                    var gameCode = Node.one('#gameCode').val();
                    if(gameCode)
                    {
                        cond.gameCode = gameCode;
                    }
                    var status = parseInt(Node.one("#status").val());
                    if(status > 0)
                    {
                        cond.status = status;
                    }
                    var channelCode = channelCodeInput.getData();
                    if(channelCode.length > 0)
                    {
                        cond.channelCode = channelCode;
                    }
                    var orderId = orderIdInput.getData();
                    if(orderId.length > 0)
                    {
                        cond.orderId = orderId;
                    }
                    var ticketId = Node.one("#ticketId").val();
                    if(ticketId.length > 0)
                    {
                        cond.id = ticketId;
                    }
                    return cond;
                };

                var toPage = function(index){
                    console.log(index);
                    var limit = parseInt(Node.one('#limit').val());
                    var skip = (index - 1)*limit;
                    var cond = encodeURIComponent(Json.stringify(getCondition()));
                    console.log(cond);
                    CurSite.redirectTo(null, "ticket_list.html?" + 'skip=' + skip + "&limit=" + limit + "&cond=" + cond);
                };

                //绑定事件
                Node.all("input.detail").each(function(item){
                    item.on("click", function(){
                        var tId = Node.one(this).attr("tId");
                        var url = "ticket_detail.html?id=" + tId;
                        var win = new VsWindow("#tWin", {title:"票据详情", width:500, height:400, url:url, controlBt:[
                            {name:'关闭', cb:function(err, data){
                                return true;
                            }}
                        ]});
                    });
                });

                //重新加入出票队列
                Node.all("input.addToQueen").each(function(item){
                    item.on("click", function(){
                        var tId = Node.one(this).attr("tId");
                        var bodyNode = {id:tId};
                        CurSite.sendDigest(Io, Json, "AD11", null, bodyNode, function(err, backBodyNode){
                            alert(backBodyNode.description);
                        });
                    });
                });

                Node.one("#search").on("click", function(){
                    toPage(cur);
                });
            });
    body
        .bodyAdminDiv
            input(type='hidden', id="count", value=count)
            input(type='hidden', id="skip", value=skip)
            input(type='hidden', id="limit", value=limit)
            #tWin.container
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="padding-top:6px;margin-left:12px;") 游戏:
                .vs_grid_plain(style="padding-top:4px;")
                    select(id="gameCode")
                        option(value="") 所有
                        - each val in games
                            if(val.id == cond.gameCode)
                                option(value=val.id, selected="true")=val.name
                            else
                                option(value=val.id)=val.name
                .vs_grid_plain(style="padding-top:6px;margin-left:12px;") 状态:
                .vs_grid_plain(style="padding-top:4px;")
                    select(id="status")
                        option(value="-1") 所有
                        - each val in ticketStatus
                            if(val.id == cond.status)
                                option(value=val.id, selected="true")=val.des
                            else
                                option(value=val.id)=val.des
                .vs_grid_plain(style="padding-top:6px;margin-left:12px;") 票号:
                .vs_grid_plain(style="padding-top:4px;")
                    input(type=text, id="ticketId", value=cond.id)
                .vs_grid_plain(style="padding-top:6px;margin-left:12px;") 渠道号:
                #channelCode.vs_grid_plain(initValue=cond.channelCode)
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="padding-top:6px;margin-left:12px;") 订单号:
                #orderId.vs_grid_plain(initValue=cond.orderId)
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:423px;")
                    input(type="button", id="search", value="查询")
            .clearfix(style="margin-top:8px")
                #tickets.container(style="width:423px;")
                    table
                        thead
                            tr
                                td(w="276") id
                                td(w="276") 订单号
                                td(w="76") 渠道
                                td(w="276") 销售机构id
                                td(w="276") 出票机构id
                                td(w="76") 游戏
                                td(w="76") 玩法
                                td(w="76") 投注方式
                                td(w="76") 倍数
                                td(w="126") 金额
                                td(w="176") 创建时间
                                td(w="176") 取票时间
                                td(w="176") 截止时间
                                td(w="176") 打印时间
                                td(w="76") 状态
                                td(w="234") 操作
                        tbody
                            - each val in rst
                                tr
                                    td=val.id
                                    td=val.orderId
                                    td=val.channelCode
                                    td=val.stationId
                                    td=val.printerStationId
                                    td=val.game.name
                                    td=val.playType.name + '(' + val.playType.id + ')'
                                    td=val.betType.name+ '(' + val.betType.id + ')'
                                    td=val.multiple
                                    td=val.amount/100
                                    td=val.createTime
                                    td=val.sysTakeTime
                                    td=val.termIndexDeadline
                                    td=val.printTime
                                    td=val.status.des
                                    td
                                        input(type="button", value="详情", class="detail", tId=val.id)
                                        if(val.status.id == ticketStatusOrg.print_success)
                                            input(type="button", value="加入队列", class="addToQueen", tId=val.id)
            .clearfix(style="margin-top:8px")
                #bar.vs_grid_plain(style="width:600px;")
