doctype html
html(lang="en")
    head
        include ../includes/script.jade
        script(type='text/javascript').
            KISSY.use("io,node,json,vs-grid-table,vs-pagebar,vs-round-input,vs-window",
                function(S, Io, Node, Json, VsGridTable, VsPagebar, VsRoundInput, VsWindow){
                var count = parseInt(Node.one('#count').val());
                var skip = parseInt(Node.one('#skip').val());
                var limit = parseInt(Node.one('#limit').val());
                var cur = parseInt(skip/limit) + 1;
                var table = new VsGridTable('#rst', {});
                var pageBar = new VsPagebar('#bar', {count:count, limit:limit, cur:cur, toPage:function(index){
                    toPage(index);
                }});

                var getCondition = function()
                {
                    var cond = {};
                    return cond;
                };

                var getAdd = function()
                {
                    var add = {};
                    var channelCode = Node.one('#channelCode').val();
                    if(channelCode)
                    {
                        add.channelCode = channelCode;
                    }
                    return add;
                }

                var toPage = function(index){
                    var limit = parseInt(Node.one('#limit').val());
                    var skip = (index - 1)*limit;
                    var add = getAdd();
                    if(add.channelCode)
                    {
                        var cond = encodeURIComponent(Json.stringify(getCondition()));
                        add = encodeURIComponent(Json.stringify(add));
                        CurSite.redirectTo(null, "notify_list.html?" + 'skip=' + skip + "&limit=" + limit + "&cond=" + cond+ "&add=" + add);
                    }
                    else
                    {
                        alert("必须输入渠道号");
                    }
                };

                //绑定事件
                Node.all("input.detail").each(function(item){
                    item.on("click", function(){
                        var tId = Node.one(this).attr("tId");
                        var url = "ticket_detail.html?id=" + tId;
                        var win = new VsWindow("#tWin", {title:"票据详情", width:500, height:400, url:url, controlBt:[
                            {name:'关闭', cb:function(err, data){
                                return true;
                            }}
                        ]});
                    });
                });

                Node.one("#search").on("click", function(){
                    toPage(cur);
                });
            });
    body
        .bodyAdminDiv
            input(type='hidden', id="count", value=count)
            input(type='hidden', id="skip", value=skip)
            input(type='hidden', id="limit", value=limit)
            #tWin.container
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="padding-top:6px;margin-left:12px;") 渠道号:
                .vs_grid_plain(style="padding-top:4px;")
                    input(id="channelCode", type="text", value=add.channelCode)
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:423px;")
                    input(type="button", id="search", value="查询")
            .clearfix(style="margin-top:8px")
                #rst.container(style="width:423px;")
                    table
                        thead
                            tr
                                td(w="126") id
                                td(w="126") 唯一id
                                td(w="326") 内容
                                td(w="126") 状态
                                td(w="126") 创建时间
                                td(w="134") 操作
                        tbody
                            - each val in rst
                                tr
                                    td=val._id
                                    td=val.hId
                                    td=val.msg
                                    td=val.status.des
                                    td=val.createTime
                                    td
            .clearfix(style="margin-top:8px")
                #bar.vs_grid_plain(style="width:600px;")
