doctype html
html(lang="en")
    head
        include ../includes/script.jade
        script(type='text/javascript').
            KISSY.use("io,node,json,vs-grid-table,vs-pagebar,vs-round-input",
                function(S, Io, Node, Json, VsGridTable, VsPagebar, VsRoundInput){

            });
    body
        .container
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;") 彩票id:
                .vs_grid_plain(style="margin-left:8px;")=rst._id
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;") 出票id:
                .vs_grid_plain(style="margin-left:8px;")=rst.zzcId
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;") 游戏:
                .vs_grid_plain(style="margin-left:8px;")=rst.game.name
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;") 期次:
                .vs_grid_plain(style="margin-left:8px;")=rst.termCode
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;") 金额:
                .vs_grid_plain(style="margin-left:8px;")=rst.amount
                |(分)
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;") 玩法:
                .vs_grid_plain(style="margin-left:8px;")=rst.game[rst.playTypeCode].name
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;") 投注方式:
                .vs_grid_plain(style="margin-left:8px;")=rst.game[rst.playTypeCode][rst.betTypeCode].name
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;") 平台号码:
                .vs_grid_plain(style="margin-left:8px;")=rst.numbers
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;") 出票号码:
                .vs_grid_plain(style="margin-left:8px;")=rst.ball
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;") 状态:
                .vs_grid_plain(style="margin-left:8px;")=rst.status.des
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;") 出票返回:
                .vs_grid_plain(style="margin-left:8px;")=rst.zzcMsg